<a href="https://colab.research.google.com/github/VidyasriAsarla/Mini_project/blob/main/SentimentAnalysisNaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score,accuracy_score
import pickle

In [ ]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
df = pd.read_csv('reviews.txt',sep = '\t', names =['Reviews','Comments'])

In [ ]:
df.head()

   Reviews                                           Comments
0        1            The Da Vinci Code book is just awesome.
1        1  this was the first clive cussler i've ever rea...
2        1                   i liked the Da Vinci Code a lot.
3        1                   i liked the Da Vinci Code a lot.
4        1  I liked the Da Vinci Code but it ultimatly did...

In [ ]:
stopset = set(stopwords.words('english'))

In [ ]:
vectorizer = TfidfVectorizer(use_idf = True,lowercase = True, strip_accents='ascii',stop_words=stopset)

In [ ]:
X = vectorizer.fit_transform(df.Comments)
y = df.Reviews
pickle.dump(vectorizer, open('naive_bayes_transform.pkl', 'wb'))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [ ]:
clf = naive_bayes.MultinomialNB()
clf.fit(X_train,y_train)

MultinomialNB()

In [ ]:
accuracy_score(y_test,clf.predict(X_test))*100

97.47109826589595

In [ ]:
filename = 'naive_bayes_model.pkl'
pickle.dump(clf, open(filename, 'wb'))